.App {
  text-align: center;
}

html, body{
  height: 100%;
}

.logo{
  height: 60%;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: auto;
  padding-top: 40px;
  transform-origin: bottom;
}

#root{
  height: 100%;
}

.bg-img{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.1;
}

.landing-auth-buttons{
  margin: auto;
  display: flex;
  justify-content: center;
  opacity: 1;
  align-items: center;
}

.landing{
  margin-top: 0px;
  height: 100%;
}

.landing-top{
  height: 60%;
  width: 100%;
  opacity: 0.75;
  background-color: #ECF3F3;
}

.landing-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text{
  margin: 50px;
  color: #555555;
}

.auth-button{
  margin: 40px;
}

.landing-navbar{
  display: flex;
  justify-content: space-between;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

