/* :root {
  --color-primary: #334155;
  --color-secondary: #059669;
} */


html, body{
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.logo{
  height: 27vh;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  margin: auto;
  margin-bottom: 0px;
  transform-origin: bottom;
  z-index: 10;
}

#content-wrap {
  height: 100%;
  min-height: 100vh;
  padding-bottom: 2.5rem;    /* Footer height */
}

@media only screen and (max-height: 645px) {

  .auth-button{
    display: none;

  }
}


.bold-text{
  font-weight: bolder;
  font-size: 1.2em;
}

.page{
  position: relative;
  min-height: 100vh;
}

#root{
  /* height: 100%; */
  min-height: 100vh;
}

.info-text{
  font-size: 0.9em;
  margin-left: 5em;
  margin-right: 5em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1);
}

.overlay-wrapper{
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.w-11\/12{
  width: 91.667%;
}

.mb-12{
  margin-bottom: 3rem;
}

.overlay-dark{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-link:hover{
  border-left: 4px solid #E0E7FF;
  transition: 0.5s;
  background: #1F2937;
  color: white;
}

.active-sidebar-link{
  border-left: 4px solid #E0E7FF;
  transition: 0.5s;
  background: black;
  color: white;
}

.custom-shadow{
  box-shadow: 3px 1px 5px rgba(0,0,0,0.25);
}

.auth-button{
  margin: 20px;
}

.custom-input:focus{
  outline: none;
  /* border: none;
  border-left: 5px solid black; */
  /* border-bottom: 1px solid black; */
  /* transition: 0.3s; */
}

.landing-navbar{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-7px); }
  100% { transform: translateY(0); }
}

.loader,
.loader:before,
.loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: rgb(0, 0, 0);
  text-indent: -9999em;
  top: 50%;
  left: 50%;
  z-index: 10;
  position: absolute;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


/* .landing{
  margin-top: 0px;
  height: 100%;
}

.landing-top{
  height: 45%;
  width: 100%;
  opacity: 0.75;
  background-color: #00855d;
}


.landing-auth-buttons{
  margin: auto;
  display: flex;
  justify-content: center;
  opacity: 1;
  align-items: center;
}

.bg-img{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.1;
  width: 100%;
}

.landing-bottom{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  padding: 50px;
}
 */
